---
import { getPagePaths } from "@utils/comicImage";
const { comicId, episodeNumber } = Astro.props as {
  comicId: string;
  episodeNumber?: string;
};
const base = import.meta.env.BASE_URL;

const pages = getPagePaths(comicId, episodeNumber);
---

<style>
  .image-wrapper {
    width: 100%;
    margin-bottom: 3rem;
  }
</style>

<div class="container" style="max-width: 800px;">
  {
    pages.map((path: string, idx: number) => (
      <div class="image-wrapper">
        <div
          class="skeleton-block"
          id={`skeleton-${idx}`}
          style="height: 70vh;"
        />
        <img
          src={`${path}`}
          loading="lazy"
          style="width: 100%; display: block;"
          onload={`document.getElementById('skeleton-${idx}').style.display='none';`}
        />
      </div>
    ))
  }
</div>
