---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="その他">
  <section class="section">
    <div class="container">
      <div class="block mb-6">
        <h1 class="title is-4">企画モノ</h1>

        <div class="icon-text">
          <span class="icon">
            <i class="fas fa-link"></i>
          </span>
          <a href="https://not0.xyz/koff/">THE KING OF FIGHTING FIGHTERS</a>
        </div>

        <div class="icon-text">
          <span class="icon">
            <i class="fas fa-link"></i>
          </span>
          <a href="https://not0.xyz/evolution2014/"
            >EVOLUTION -人は、人を超えられるか-</a
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
