---
import BaseLayout from "@layouts/BaseLayout.astro";
import List from "@components/comics/List.astro";
import { getComicsByCategory } from "@models/comic";

const comics = getComicsByCategory("collaboration").sort(
  (a, b) => b.updatedAt.getTime() - a.updatedAt.getTime()
);

const base = import.meta.env.BASE_URL;
---

<BaseLayout title="漫画">
  <section class="section">
    <div class="container">
      <h1 class="title is-4">漫画一覧</h1>
      <div class="tabs">
        <ul>
          <li>
            <a href={`${base}comics`}>自作</a>
          </li>
          <li class="is-active"><a>合作</a></li>
        </ul>
      </div>
      <List comics={comics} />
    </div>
  </section>
</BaseLayout>
